Django>=4
django-imagekit>=4.1.0
Pillow>=10.0.0
CurrencyConverter
pre-commit>=3.4.0
psycopg2-binary>=2.9.7
model_bakery>=1.15.0
huey==2.4.5
django-redis>=5.3.0
django-select2==8.1.2
django-model-utils>=4.3.1
broadcaster
channels
channels-redis
ipython
unicodecsv
mkdocs
mkdocs-material
coverage
daphne
django-dirtyfields
django-cors-headers

# Using fork to ensure we have better proxy model support.
git+ssh://git@github.com/sdobbelaere/strawberry-graphql-django.git@subscriptions

git+ssh://git@github.com/TweaveTech/django_get_absolute_url.git@v0.2


# Starlette is used for it CORSMiddleware as referenced
# in channels issue https://github.com/django/channels/issues/1247
# Docs for middleware: https://www.starlette.io/middleware/#corsmiddleware
starlette
