Django>=5,<5.3
django-imagekit>=4.1.0
Pillow>=10.0.0
CurrencyConverter
pre-commit>=3.4.0
psycopg2-binary>=2.9.7
model_bakery>=1.15.0
huey==2.4.5
django-redis>=5.3.0
django-model-utils>=4.3.1
xlsxwriter==3.0.2
broadcaster
channels
channels-redis
ipython
unicodecsv
coverage
daphne
premailer
django-dirtyfields
django-cors-headers
tzdata
shortuuid
pytz
hypercorn
Faker
reportlab>=4.2.2
faker-commerce
sentry-sdk[django]
tblib
django-cleanup
openai~=1.66.3
replicate
pydantic<2.0
gunicorn
uvicorn
markdown
mkdocs

strawberry-graphql==0.266.0
strawberry-graphql-django==0.59.1

django_get_absolute_url @ git+https://git@github.com/TweaveTech/django_get_absolute_url.git@master

# Starlette is used for it CORSMiddleware as referenced
# in channels issue https://github.com/django/channels/issues/1247
# Docs for middleware: https://www.starlette.io/middleware/#corsmiddleware
starlette

git+https://github.com/jazzband/django-polymorphic.git@v4.0.0a#egg=django-polymorphic
git+https://github.com/OneSila/OneSilaMagento2Api.git@v1.0.28
shopifyapi
amzn-sp-api